body {background-color:#BEE3DB;}
.jumbotron {
  margin-top: 5em;
  background-color: #89B0AE;
  border: solid 2px #FFD6BA;
  color: #555B6E;
}

.navbar {
  border: solid 2px #FFD6BA;
  background-color: #FAF9F9
}

h2 {
  font-family: 'Cookie', cursive;
}